In [4]:
import os

In [1]:
import pandas as pd
print(pd.__version__)

2.3.0

In [6]:
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10

In [8]:
df.shape

(380, 120)

In [11]:
df.fillna

<bound method NDFrame.fillna of     Div        Date   Time       HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  \
0    E0  16/08/2024  20:00     Man United       Fulham     1     0   H     0
1    E0  17/08/2024  12:30        Ipswich    Liverpool     0     2   A     0
2    E0  17/08/2024  15:00        Arsenal       Wolves     2     0   H     1
3    E0  17/08/2024  15:00        Everton     Brighton     0     3   A     0
4    E0  17/08/2024  15:00      Newcastle  Southampton     1     0   H     1
..   ..         ...    ...            ...          ...   ...   ...  ..   ...
375  E0  25/05/2025  16:00      Newcastle      Everton     0     1   A     0
376  E0  25/05/2025  16:00  Nott'm Forest      Chelsea     0     1   A     0
377  E0  25/05/2025  16:00    Southampton      Arsenal     1     2   A     0
378  E0  25/05/2025  16:00      Tottenham     Brighton     1     4   A     1
379  E0  25/05/2025  16:00         Wolves    Brentford     1     1   D     0

     HTAG  ... B365CAHH B365CAHA  PCAHH  PCAHA  MaxCAHH  MaxCAHA  AvgCAHH  \
0       0  ...     1.86     2.07   1.83   2.11     1.88     2.11     1.82
1       0  ...     2.05     1.88   2.04   1.90     2.20     2.00     1.99
2       0  ...     2.02     1.91   2.00   1.90     2.05     1.93     1.99
3       1  ...     1.87     2.06   1.86   2.07     1.92     2.10     1.83
4       0  ...     1.87     2.06   1.88   2.06     1.89     2.10     1.82
..    ...  ...      ...      ...    ...    ...      ...      ...      ...
375     0  ...     2.00     1.85   2.01   1.90     2.01     1.95     1.95
376     0  ...     1.80     2.05   1.86   2.08     1.86     2.08     1.81
377     1  ...     2.03     1.83   2.04   1.87     2.07     1.87     2.03
378     0  ...     1.95     1.90   2.00   1.93     2.01     1.93     1.95
379     1  ...     1.85     2.00   1.90   2.03     1.90     2.05     1.85

     AvgCAHA  BFECAHH  BFECAHA
0       2.05     1.90     2.08
1       1.88     2.04     1.93
2       1.87     2.02     1.96
3       2.04     1.88     2.11
4       2.05     1.89     2.10
..       ...      ...      ...
375     1.91     1.93     2.05
376     2.05     1.86     2.14
377     1.83     2.06     1.89
378     1.89     2.06     1.93
379     1.97     1.89     2.10

[380 rows x 120 columns]>

In [12]:
df

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,25/05/2025,16:00,Newcastle,Everton,0,1,A,0,0,...,2.00,1.85,2.01,1.90,2.01,1.95,1.95,1.91,1.93,2.05
376,E0,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,A,0,0,...,1.80,2.05,1.86,2.08,1.86,2.08,1.81,2.05,1.86,2.14
377,E0,25/05/2025,16:00,Southampton,Arsenal,1,2,A,0,1,...,2.03,1.83,2.04,1.87,2.07,1.87,2.03,1.83,2.06,1.89
378,E0,25/05/2025,16:00,Tottenham,Brighton,1,4,A,1,0,...,1.95,1.90,2.00,1.93,2.01,1.93,1.95,1.89,2.06,1.93
379,E0,25/05/2025,16:00,Wolves,Brentford,1,1,D,0,1,...,1.85,2.00,1.90,2.03,1.90,2.05,1.85,1.97,1.89,2.10

In [18]:
base_path = "/home/sirus/Desktop/plp/Data/"
dfs = []

for i in range(10):
    globals()[f"df{i}"] = pd.read_csv(f"/home/sirus/Desktop/plp/Data/E{i}.csv")

In [19]:
df0.shape

(380, 120)

In [21]:
df1.shape

(380, 106)

In [22]:
df2.shape

(380, 106)

df3.shape

In [23]:
df3.shape

(380, 106)

In [24]:
df4.shape

(380, 106)

In [25]:
df5.shape

(380, 106)

In [26]:
df6.shape

(380, 62)

In [27]:
df7.shape

(380, 62)

In [28]:
df8.shape

(380, 65)

In [29]:
df9.shape

(380, 65)

In [30]:
df0.columns.tolist()

['Div',
 'Date',
 'Time',
 'HomeTeam',
 'AwayTeam',
 'FTHG',
 'FTAG',
 'FTR',
 'HTHG',
 'HTAG',
 'HTR',
 'Referee',
 'HS',
 'AS',
 'HST',
 'AST',
 'HF',
 'AF',
 'HC',
 'AC',
 'HY',
 'AY',
 'HR',
 'AR',
 'B365H',
 'B365D',
 'B365A',
 'BWH',
 'BWD',
 'BWA',
 'BFH',
 'BFD',
 'BFA',
 'PSH',
 'PSD',
 'PSA',
 'WHH',
 'WHD',
 'WHA',
 '1XBH',
 '1XBD',
 '1XBA',
 'MaxH',
 'MaxD',
 'MaxA',
 'AvgH',
 'AvgD',
 'AvgA',
 'BFEH',
 'BFED',
 'BFEA',
 'B365>2.5',
 'B365<2.5',
 'P>2.5',
 'P<2.5',
 'Max>2.5',
 'Max<2.5',
 'Avg>2.5',
 'Avg<2.5',
 'BFE>2.5',
 'BFE<2.5',
 'AHh',
 'B365AHH',
 'B365AHA',
 'PAHH',
 'PAHA',
 'MaxAHH',
 'MaxAHA',
 'AvgAHH',
 'AvgAHA',
 'BFEAHH',
 'BFEAHA',
 'B365CH',
 'B365CD',
 'B365CA',
 'BWCH',
 'BWCD',
 'BWCA',
 'BFCH',
 'BFCD',
 'BFCA',
 'PSCH',
 'PSCD',
 'PSCA',
 'WHCH',
 'WHCD',
 'WHCA',
 '1XBCH',
 '1XBCD',
 '1XBCA',
 'MaxCH',
 'MaxCD',
 'MaxCA',
 'AvgCH',
 'AvgCD',
 'AvgCA',
 'BFECH',
 'BFECD',
 'BFECA',
 'B365C>2.5',
 'B365C<2.5',
 'PC>2.5',
 'PC<2.5',
 'MaxC>2.5',
 'MaxC<2.5',
 'AvgC>2.5',
 'AvgC<2.5',
 'BFEC>2.5',
 'BFEC<2.5',
 'AHCh',
 'B365CAHH',
 'B365CAHA',
 'PCAHH',
 'PCAHA',
 'MaxCAHH',
 'MaxCAHA',
 'AvgCAHH',
 'AvgCAHA',
 'BFECAHH',
 'BFECAHA']

In [31]:
df1.columns.tolist()

['Div',
 'Date',
 'Time',
 'HomeTeam',
 'AwayTeam',
 'FTHG',
 'FTAG',
 'FTR',
 'HTHG',
 'HTAG',
 'HTR',
 'Referee',
 'HS',
 'AS',
 'HST',
 'AST',
 'HF',
 'AF',
 'HC',
 'AC',
 'HY',
 'AY',
 'HR',
 'AR',
 'B365H',
 'B365D',
 'B365A',
 'BWH',
 'BWD',
 'BWA',
 'IWH',
 'IWD',
 'IWA',
 'PSH',
 'PSD',
 'PSA',
 'WHH',
 'WHD',
 'WHA',
 'VCH',
 'VCD',
 'VCA',
 'MaxH',
 'MaxD',
 'MaxA',
 'AvgH',
 'AvgD',
 'AvgA',
 'B365>2.5',
 'B365<2.5',
 'P>2.5',
 'P<2.5',
 'Max>2.5',
 'Max<2.5',
 'Avg>2.5',
 'Avg<2.5',
 'AHh',
 'B365AHH',
 'B365AHA',
 'PAHH',
 'PAHA',
 'MaxAHH',
 'MaxAHA',
 'AvgAHH',
 'AvgAHA',
 'B365CH',
 'B365CD',
 'B365CA',
 'BWCH',
 'BWCD',
 'BWCA',
 'IWCH',
 'IWCD',
 'IWCA',
 'PSCH',
 'PSCD',
 'PSCA',
 'WHCH',
 'WHCD',
 'WHCA',
 'VCCH',
 'VCCD',
 'VCCA',
 'MaxCH',
 'MaxCD',
 'MaxCA',
 'AvgCH',
 'AvgCD',
 'AvgCA',
 'B365C>2.5',
 'B365C<2.5',
 'PC>2.5',
 'PC<2.5',
 'MaxC>2.5',
 'MaxC<2.5',
 'AvgC>2.5',
 'AvgC<2.5',
 'AHCh',
 'B365CAHH',
 'B365CAHA',
 'PCAHH',
 'PCAHA',
 'MaxCAHH',
 'MaxCAHA',
 'AvgCAHH',
 'AvgCAHA']

In [33]:
df9.columns.tolist()

['Div',
 'Date',
 'HomeTeam',
 'AwayTeam',
 'FTHG',
 'FTAG',
 'FTR',
 'HTHG',
 'HTAG',
 'HTR',
 'Referee',
 'HS',
 'AS',
 'HST',
 'AST',
 'HF',
 'AF',
 'HC',
 'AC',
 'HY',
 'AY',
 'HR',
 'AR',
 'B365H',
 'B365D',
 'B365A',
 'BWH',
 'BWD',
 'BWA',
 'IWH',
 'IWD',
 'IWA',
 'LBH',
 'LBD',
 'LBA',
 'PSH',
 'PSD',
 'PSA',
 'WHH',
 'WHD',
 'WHA',
 'VCH',
 'VCD',
 'VCA',
 'Bb1X2',
 'BbMxH',
 'BbAvH',
 'BbMxD',
 'BbAvD',
 'BbMxA',
 'BbAvA',
 'BbOU',
 'BbMx>2.5',
 'BbAv>2.5',
 'BbMx<2.5',
 'BbAv<2.5',
 'BbAH',
 'BbAHh',
 'BbMxAHH',
 'BbAvAHH',
 'BbMxAHA',
 'BbAvAHA',
 'PSCH',
 'PSCD',
 'PSCA']

In [34]:
df8.columns.tolist()

['Div',
 'Date',
 'HomeTeam',
 'AwayTeam',
 'FTHG',
 'FTAG',
 'FTR',
 'HTHG',
 'HTAG',
 'HTR',
 'Referee',
 'HS',
 'AS',
 'HST',
 'AST',
 'HF',
 'AF',
 'HC',
 'AC',
 'HY',
 'AY',
 'HR',
 'AR',
 'B365H',
 'B365D',
 'B365A',
 'BWH',
 'BWD',
 'BWA',
 'IWH',
 'IWD',
 'IWA',
 'LBH',
 'LBD',
 'LBA',
 'PSH',
 'PSD',
 'PSA',
 'WHH',
 'WHD',
 'WHA',
 'VCH',
 'VCD',
 'VCA',
 'Bb1X2',
 'BbMxH',
 'BbAvH',
 'BbMxD',
 'BbAvD',
 'BbMxA',
 'BbAvA',
 'BbOU',
 'BbMx>2.5',
 'BbAv>2.5',
 'BbMx<2.5',
 'BbAv<2.5',
 'BbAH',
 'BbAHh',
 'BbMxAHH',
 'BbAvAHH',
 'BbMxAHA',
 'BbAvAHA',
 'PSCH',
 'PSCD',
 'PSCA']

In [35]:
essential_cols = [
    'Date', 'HomeTeam', 'AwayTeam',
    'FTHG', 'FTAG', 'FTR',
    'B365H', 'B365D', 'B365A'
]
available_cols = [col for col in essential_cols if col in df.columns]
df_clean = df0[available_cols]
display(df_clean.head(10))

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,B365H,B365D,B365A
0,16/08/2024,Man United,Fulham,1,0,H,1.60,4.20,5.25
1,17/08/2024,Ipswich,Liverpool,0,2,A,8.50,5.50,1.33
2,17/08/2024,Arsenal,Wolves,2,0,H,1.18,7.50,13.00
3,17/08/2024,Everton,Brighton,0,3,A,2.63,3.30,2.63
4,17/08/2024,Newcastle,Southampton,1,0,H,1.36,5.25,8.00
5,17/08/2024,Nott'm Forest,Bournemouth,1,1,D,2.45,3.50,2.80
6,17/08/2024,West Ham,Aston Villa,1,2,A,2.45,3.60,2.75
7,18/08/2024,Brentford,Crystal Palace,2,1,H,2.40,3.40,2.90
8,18/08/2024,Chelsea,Man City,0,2,A,4.10,3.90,1.80
9,19/08/2024,Leicester,Tottenham,1,1,D,5.00,4.33,1.62

In [37]:
df_clean = df1[available_cols]
display(df_clean.head(10))

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,B365H,B365D,B365A
0,11/08/2023,Burnley,Man City,0,3,A,8.00,5.50,1.33
1,12/08/2023,Arsenal,Nott'm Forest,2,1,H,1.18,7.00,15.00
2,12/08/2023,Bournemouth,West Ham,1,1,D,2.70,3.40,2.55
3,12/08/2023,Brighton,Luton,4,1,H,1.33,5.50,9.00
4,12/08/2023,Everton,Fulham,0,1,A,2.20,3.40,3.30
5,12/08/2023,Sheffield United,Crystal Palace,0,1,A,3.00,3.30,2.38
6,12/08/2023,Newcastle,Aston Villa,5,1,H,1.75,3.75,4.60
7,13/08/2023,Brentford,Tottenham,2,2,D,2.75,3.40,2.45
8,13/08/2023,Chelsea,Liverpool,1,1,D,2.90,3.40,2.38
9,14/08/2023,Man United,Wolves,1,0,H,1.33,5.50,9.00

In [41]:

def list_unique_teams(df, name='df'):
    home_teams = set(df['HomeTeam'].dropna().unique())
    away_teams = set(df['AwayTeam'].dropna().unique())
    all_teams = sorted(home_teams.union(away_teams))
    
    print(f" {name} ({len(all_teams)} total):")
    print(all_teams)
    print("—" * 60)


list_unique_teams(df0, 'df0')

 df0 (20 total):
['Arsenal', 'Aston Villa', 'Bournemouth', 'Brentford', 'Brighton', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Ipswich', 'Leicester', 'Liverpool', 'Man City', 'Man United', 'Newcastle', "Nott'm Forest", 'Southampton', 'Tottenham', 'West Ham', 'Wolves']
————————————————————————————————————————————————————————————

In [43]:
list_unique_teams(df1,'df1')

 df1 (20 total):
['Arsenal', 'Aston Villa', 'Bournemouth', 'Brentford', 'Brighton', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Liverpool', 'Luton', 'Man City', 'Man United', 'Newcastle', "Nott'm Forest", 'Sheffield United', 'Tottenham', 'West Ham', 'Wolves']
————————————————————————————————————————————————————————————

In [45]:
dfs = [df0, df1, df2, df3, df4, df5, df6, df7, df8, df9]

In [47]:
merged_df = pd.concat(dfs, ignore_index=True)

In [50]:
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split